<header class="header">
  <div class="container wrap-header">
    <div class="logo-wrapper">
      <a id="logo" href="../index.html">
        <!-- <img src="../img/logo-min.png" /> -->

        <picture>
          <source
            srcset="/img/logo-mobile-min.png 1x, /img/logo2x-mobile-min.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/img/logo-min.png 1x, /img/logo2x-desktop-min.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/logo-min.png 1x, /img/logo2x-desktop-min.png 2x"
          />

          <img src="/img/logo-min.png" class="logo" alt="Logo" />
        </picture>
      </a>
    </div>

    <form class="search-form" id="search-form" action="characters.html">
      <div class="search-box">
        <svg class="search-icon" width="16" height="16">
          <use href="/img/icon.svg#icon-search"></use>
        </svg>
        <input
          type="query"
          name="searchQuery"
          class="header-input"
          placeholder="SEARCH"
          autocomplete="on"
        />
        <button class="search-btn" type="submit"></button>
      </div>
    </form>
  </div>
</header>
