<header class="header">
  <div class="container wrap-header">
    <div class="logo-wrapper">
      <a class="logo" href="../index.html">
        <img src="../img/logo-min.png" width="98" height="15" />
      </a>
    </div>
    <div class="search-box">
      <svg class="search-icon" width="16" height="16">
        <use href="/img/icon.svg#icon-search"></use>
      </svg>
      <input
        type="query"
        name="searchQuery"
        class="header-input"
        placeholder="SEARCH"
        autocomplete="on"
      />
    </div>
  </div>
</header>
