<section class="hero">
  <div class="container">
    <h2 class="hero-h2">Web-based platform</h2>
    <h1 class="hero-main-title">Marvelous Adventures</h1>
    <p class="hero-text">
      is a web-based platform that provides an immersive experience for users to
      explore and discover a vast collection of Marvel characters and comics.
      Start exploring the Marvelous Adventures now by visiting our Characters
      and Comics sections and discover your new favorites today.
    </p>
    <a href="#" class="hero-all-characters-btn hero-all-characters-btn-blue">
      All characters
    </a>
    <div hero-wrapper-img>
      <div class="line-first">
        <picture class="line-second">
          <source
            srcset="
              /img/mobile/black-panther-min.jpg    1x,
              /img/mobile/black-panther@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/tablet/black-panther-min.jpg    1x,
              ../img/tablet/black-panther@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/desktop/black-panther-desktop-min.jpg    1x,
              ../img/desktop/black-panther@2x-desctop-min.jpg 2x
            "
          />

          <img
            src="../img/desktop/black-panther-desktop-min.jpg"
            class="hero-image-main"
            width="352"
            alt="Black Panther"
          />
        </picture>
      </div>
    </div>
    <ul class="gallery">
      <li><img src="/img/mobile/black-panther-gallery-min.jpg" /></li>
    </ul>
    <div class="hero-text-wrapper">
      <h3 class="hero-title-gallery">Characters</h3>
      <p>
        With amazing spider-like abilities, teenage science whiz Peter Parker
        fights crime and dreams of becoming an Avenger as Spider-Man.
      </p>
    </div>
  </div>
</section>
