.header {
  padding: 20px 0;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.wrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box {
  position: relative;
  width: 108px;
  /* order: -1; */
}
.active {
  background-color: var(--main-bg-color);
}
.header-input {
  padding: 6px 18px 6px 42px;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
  outline: none;
  width: 100%;
  transition: border-color 0.1s linear;
  background-color: var(--main-bg-color);
  color: var(--main-color);

  /* order: -1; */
}
.header-input::placeholder {
  font-weight: 500;
  color: var(--main-color);
}

.search-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 18px;

  top: 6px;
  fill: var(--main-color);
  transition: fill 0.1s linear;
}
.search-btn {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  left: 18px;
  top: 6px;
  border: none;
}

.header-input:focus {
  border-color: #f39c12;
}

.header-input:focus + .input__icon {
  fill: #f39c12;
}

.search-icon {
  width: 16px;
  height: 16px;
  fill: var(--main-color);
}
